extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      //- Project Information cell
      .cell.small-6.medium-9.large-9

        h1 #{project.project_name}

        p.lead.text-light
          | #{project.description}
      //- Sidebar cell
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each tech in project.technologies
            li #{tech}

        a.button.expanded(href=`${project.live_link}` target='_blank') Live Demo
        a.button.expanded(href=`${project.github_link}` target='_blank') GitHub Repo
    
    //- Skip the first picture (500x500) then display the images.
    each image_url, index in project.image_urls
      if index !== 0
        img.image(src=`${image_url}`)
